<h1>Appointments</h1>
<ul> <% @appointments.each do |appointment| %>
  <h3>Appointment Time: <%= link_to appointment.appointment_datetime %> with Doctor 
   <%= link_to appointment.doctor.name, doctor_path(appointment.doctor) %></h3>


  <% end %>
</ul>
